.homepage .jumbotron {
    padding: 20vh 0 24vh 0;
    color: #2c2c2d;
    background: linear-gradient(rgba(0, 0, 0, .65), rgba(0, 0, 0, .45)), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/566003/a13.jpeg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius: 0;
}

nav {
    background: transparent;
}

.homepage .lead {
    color: #bbb;
}

.homepage .w-640 {
    max-width: 750px;
}

.homepage button,

.homepage input {
    font-size: 15px;
    letter-spacing: .1ch;
}

.homepage input {
    min-width: 280px;
}

.homepage h2 {
    font-weight: 300;
    font-size: 28px;
}

.homepage .team-p {
    font-weight: 300;
    font-size: 15px;
    line-height: 28px;
}
.homepage label {
    font-size: 15px;
    font-weight: 400;
}

.homepage strong {
    font-weight: 500;
}

.homepage .display-4 {
    font-size: 3.2rem;
    line-height: 4.5rem;
}

.homepage .display-5 {
    font-size: 2.8rem;
}