/* * {
  -webkit-transition: all 20ms ease-in-out;
  -moz-transition: all 20ms ease-in-out;
  -ms-transition: all 20ms ease-in-out;
  -o-transition: all 20ms ease-in-out;
  transition: all 20ms ease-in-out;
} */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
body i {
  font-family:'FontAwesome'!important;
}
a{
  color: #79A174;
}

.btn, .form-control {
  border-radius: 2px;
  font-weight: 300;
  padding: 5px;
}

.btn-primary {
  background-color: #79A174;
  border-color: #79A174;
  /* padding: 5px; */
  border-radius: 2px;
}

.btn-primary:hover {
  background-color: rgb(94, 145, 88);
  border-color: rgb(94, 145, 88);
}

.btn-secondary {
  background-color: transparent;
  border: solid 2px;
  border-color: white;
  color: #2c2c2d; 
}

.btn-secondary:hover {
  background-color: #eee;
  border-color: #eee;
}

.text-shadow {
  text-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.card {
  border-radius: 2px;
}
.display-4 {
  font-weight: 100;
}

.lead {
  font-weight: 100;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0.13ch;
}

.w-440 {
  max-width: 440px;
}

.w-720 {
  max-width: 720px;
}

.card-shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 2px 4px rgba(0, 0, 0, 0.23);
}

.bg-darker {
  background-color: #2c2c2d;
}

.text-primary {
  color: #D1262B !important;
}

.d-inherit{
  display: inherit;
}

.bhs {
  font-family: 'Black Han Sans', sans-serif;
}

.open-sans{
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;  
}

.hover-darkred:hover{
  background-color: rgb(94, 145, 88);
}

#content{
  position: relative;
  top: 67px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.75),rgba(255, 255, 255, 0.75)) ,url('./assets/images/wood.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}