.signup .bg {
    min-height: 100vh;
    height: fit-content;    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    background-image: url('../../assets/images/hero.jpg');
}

.signup .w-580 {
    max-width: 500px;
}

.signup .card {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.signup h1 {
    font-weight: 300;
    font-size: 28px;
}

.signup p {
    font-weight: 300;
    font-size: 15px;
    line-height: 28px;
}
.signup label {
    font-size: 14px;
    font-weight: 400;
}


.signup strong {
    font-weight: 500;
}