.plus-sign {
    font-size: 150px;
    top: 5px;
    color: #CCCCCC;
    position: relative;
    transition: ease-in-out 100ms;
}
.plus-sign:hover{
    color: #1d586b;
}
#addCard {
    background: transparent !important;
    border: none !important;
}