.login .bg {
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

.login .w-580 {
    max-width: 500px;
}

.login .card {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.login h1 {
    font-weight: 300;
    font-size: 28px;
}

.login p {
    font-weight: 300;
    font-size: 15px;
    line-height: 28px;
}
.login label {
    font-size: 14px;
    font-weight: 400;
}


.login strong {
    font-weight: 500;
}