.SubmitScript .bg {
    min-height: 100vh;
    background: url("../../assets/contact-bg.svg") center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

.SubmitScript .w-700 {
    max-width: 700px;
}
.SubmitScript .error {
    margin-top: 9px;
}
.SubmitScript .error .label{
    color: red;
}

.SubmitScript .card {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.SubmitScript h1 {
    font-weight: 300;
    font-size: 28px;
}

.SubmitScript p {
    font-weight: 300;
    font-size: 15px;
    line-height: 28px;
}
.SubmitScript label {
    font-size: 14px;
    font-weight: 400;
    width: 100%;
}

.SubmitScript strong {
    font-weight: 500;
}

.SubmitScript textarea {
    border: 1px solid #868D93 !important;
}

.team .team-p {
    font-weight: 300;
    font-size: 15px;
    line-height: 28px;
}

.script-help {
    float: right;
    color: black;
}
.script-help:hover {
    color: #1EB8B1;
    cursor: pointer;
    text-decoration: none;
}
