.SubmitArticle .jumbotron {
    padding: 20vh 0 24vh 0;
    color: #2c2c2d;
    background: linear-gradient(rgba(0, 0, 0, .65), rgba(0, 0, 0, .45)), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/566003/a13.jpeg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius: 0;
}
.SubmitArticle label{
    color: white;
    font-size: x-large !important;
    margin: 10px 0px;
    font-weight: lighter !important;
}
.SubmitArticle select{
    width: 100%;
    height: 35px;
    font-weight: 300;
}
.SubmitArticle .container{
    /* text-align: center; */
}
.SubmitArticle .input-container{
    flex: 1 0 auto;
}
.SubmitArticle .url .label{
    color: yellow;
    background-color: transparent;
    border: solid 2px;
    border-color: white;
    border-radius: 2px;
    padding: 2px 12px;
}
.SubmitArticle .url .error{
    min-height: 30px;
    margin-top: 12px;
}
nav {
    background: transparent;
}

.SubmitArticle .lead {
    color: #bbb;
}

.SubmitArticle .w-640 {
    max-width: 750px;
}

.SubmitArticle button,

.SubmitArticle input {
    font-size: 15px;
    letter-spacing: .1ch;
}

.SubmitArticle input, .SubmitArticle span {
    /* min-width: 280px; */
    width: -webkit-fill-available !important;
}

.SubmitArticle h2 {
    font-weight: 300;
    font-size: 28px;
}

.SubmitArticle .team-p {
    font-weight: 300;
    font-size: 15px;
    line-height: 28px;
}
.SubmitArticle label {
    font-size: 15px;
    font-weight: 400;
}

.SubmitArticle strong {
    font-weight: 500;
}

.SubmitArticle .display-4 {
    font-size: smaller;
    /* line-height: 4.5rem; */
}

.SubmitArticle .display-5 {
    font-size: 2.8rem;
}

.SubmitArticle .black-label{
    color: black;
}